body {
    font-family: 'Roboto', sans-serif;
}

.boots-app-container {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
}

.boots-app-container .boots-banner {
    background-color: #6db340;
    text-align: center;
    color: white;
}

.boots-app-container .boots-form {
    display: flex;
    flex-direction: column;
}

.boots-app-container .boots-form .boot-form-entry {
    display: flex;
}

.boots-app-container .boots-form .boot-form-entry:nth-child(even) {
    background-color: #f2f2f2;
}

.boots-app-container .boots-form .boot-form-entry label {
    width: 50%;
}

.boots-app-container .boots-table tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.boots-app-container .boots-form button {
    background-color: #6db340;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.boots-app-container .boots-table {
    width: 100%;
}

.boots-app-container .boots-table .action-button {
    cursor: pointer;
}